*{
    margin: 0;
    padding: 0;
}
main{
    height: 100vh;
    width: 100vw;   
}
#container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    background-color: gray;
    border: none;
    height: 50px;
    width: 90px;
    border-radius: 25px;
}